---
---

<div class="modal fade" id="certificationModal" tabindex="-1" role="dialog" aria-labelledby="certificationModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-text">
          <h5 class="modal-title" id="certificationModalLabel"></h5>
          <h6 class="modal-date mt-2 mb-0" id="certificationModalDate"></h6>
        </div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="modal-description" id="certificationModalDescription"></p>
        <img src="" id="certificationModalImage" class="img-fluid" alt="" />
        <div class="modal-actions">
          <a id="certificationModalLink" href="#" target="_blank" rel="noopener noreferrer" class="btn custom-btn w-100 mb-3 mt-3">Enlace a certificación</a>
          <button type="button" class="btn custom-btn w-100" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
