---
---

<div class="modal fade" id="projectList" tabindex="-1" role="dialog" aria-labelledby="projectListLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-auto" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectListLabel">Lista de Proyectos</h5>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre del Proyecto</th>
                <th>Fecha</th>
                <th>Enlace</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn custom-btn w-100" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
