---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="ml-auto col-lg-12 col-md-5 text-center fix">
        <p class="copyright-text">Using By NL - Mauricio Núñez L. &copy; {year}</p>
      </div>
    </div>
  </div>
</footer>
