#global-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  opacity: 0.8;
}

.section {
  position: relative;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 3;
}

.home {
  z-index: 1;
}

.bg-overlay {
  z-index: 1;
}
