.class-info {
  padding: 15px;
  text-align: center;
}

.tag-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  font-size: 0.75em;
  background: var(--bd-tag-color);
  color: var(--black-color);
  border-radius: 0.2rem;
  padding: 4px 8px;
  transition: all var(--transition-time);
  box-sizing: border-box;
}

.class-info h3 {
  max-height: 45px;
  min-height: 45px;
  overflow: hidden;
  font-size: var(--h3-info-font-size);
  color: var(--card-title-color);
}

.class-info .card-description-text {
  max-height: 90px;
  min-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  font-size: var(--p-info-font-size);
  text-align: justify;
  color: var(--card-description-color);
}

.class-thumb {
  background-color: var(--card-color);
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: background-color var(--transition-time), transform var(--transition-time), box-shadow var(--transition-time);
  cursor: pointer;
}

.class-thumb img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.2rem 0.2rem 0 0;
}

.class-thumb:hover {
  background-color: var(--card-hover-color);
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card-title {
  color: var(--about-title-color);
}

.card-subtitle {
  color: var(--about-subtitle-color);
}
