@import './fonts.css';
@import './general.css';
@import './navbar.css';
@import './home.css';
@import './about.css';
@import './cards.css';
@import './modal.css';
@import './table.css';
@import './projects.css';
@import './certifications.css';
@import './experiences.css';
@import './footer.css';
@import './canvas-global.css';
@import './scroll-top.css';
@import './media.css';
